html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Great Vibes', Arial, sans-serif;
    font-size: 1.2rem;
}



body h1 {
    font-family: 'Rubik Burned', Arial, sans-serif;
    color: white;
    font-size: 5rem;
    text-wrap: wrap;
    text-align: center;
}

body p {
    margin: 20px auto;
    font-family: 'Manufacturing Consent', Arial, sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

form {
    
    width: 80%;
    margin: 0 auto 40px auto;
    color: black;
    align-self: center;
    border: 2px solid rgba(211, 145, 22, 0.788);
    background-color: rgba(211, 145, 22, 0.788);
    border-radius: 20px;
    padding: 5%;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 1rem;
}

/* Responsive Design */

@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 5%;
    }

    body h1 {
        font-size: 3rem;
    }

    body p {
        font-size: 1.5rem;
    }

}

@media (min-width: 768px) {
    form {
        min-width: 400px;
        width: 30%;
        padding: 3%;
    }

    body h1 {
        font-size: 5rem;
    }

    body p {
        font-size: 2rem;
    }
}
